<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Colores disponibles en lanas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <script>
        $(document).ready(function(){
            $("#fotos").click(function(){
                $.get("https://jsonplaceholder.typicode.com/photos", function(data){
                    $.each(data, function(i, item){
                        $("#fotitos").append("<tr><td>" + item.albumId + "</td><td>" + item.id +
                            "</td><td>" + item.title + "</td><td>" + item.url + 
                                "</td><td> <img src='" + item.thumbnailUrl + "'>" + "</td></tr>");
                    });  
                });
            });
        });
    </script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Api fotos</h1>
                <button id="fotos">Solicitar colores</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table" id="fotitos">
                    <thead>
                        <tr>
                            <th>Album ID</th>
                            <th>ID</th>
                            <th>Title</th>
                            <th>URL</th>
                            <th>Imagen</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</body>
</html>